/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
*{
    font-family: Arial, Helvetica, sans-serif;
}
.navTwo {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.navTwo > .categoryLinks {
    width: 295px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} .categoryLinks a {
    text-decoration: none;
    color: #172749;
    padding: 4px 0px 4px 0px;
} .categoryLinks a:hover {
    border-bottom: 2px solid #172749;
    cursor: pointer;
}

.navTwo > .logo img {
    width: 128px;
}

.navTwo > .Loginlinks {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;    
} .Loginlinks img {
    width: 20px;
    height: 20px;
}
/* ? ===========================here is navTwo {ends}  */
#main_cart{
    display: flex;
    width: 1300px;
    margin: auto;
    /* border: 2px solid orange; */
    justify-content: space-between;
}
#item{
    /* border: 2px solid orangered; */
    /* width:70%; */
    width: 900px;
    display: flex;
}
#order_summary{
    /* border: 2px solid red; */
    /* width:30%; */
    width: 400px;
    margin-left: 50px;
    background-color: rgb(235,234,231);
    height: fit-content;
    margin-right: 30px;
    }
 
#checkout{
    width:99%;
    background-color: rgb(30,51,82);
    color: white;
    height: 60px;
    display: block;
    margin: auto ;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 17px;
}
#td_label{
    padding-left: 10px;
    padding-bottom: 10px;
    /* padding-right: 100px; */
}
.spanEl{
    float: right;
    padding-left: 80px;
}
#button_img{
    background-color:rgb(255,196,57);
    width: 200px;
    height: 30px;
    border-radius: 30px;
    display:block;
    margin: auto;
    margin-top: 20px;
    border: none;
}
#title{
    border: 2px solid navy;
    /* height: 100px; */
    width:40%;
    height:600px;


}
.select_quantity{
    width: 80px;
    height: 40px;
    font-size: 17px;
}
.imageEl{
    width:200px
}
.removeEl{
    width: 80px;
    margin-top: 20px;
    height: 30px;
}



.MainDiv{
    display: flex;
}

.MainDiv img{
    width: 200px;
}
.QuantityDiv
{
    width: 300px;
    /* margin-right: 10px; */
    /* border: 1px solid #000; */
    /* display: grid; */
    /* grid-template-columns: repeat(1,fr); */
    /* row-gap: -10px; */

}

.QuantityDiv h5,p{
    padding-bottom: 10px;
    /* margin-top: 50px; */
    font-size: 20px;
}
/* .QuantityDiv  */
.ItemDiv{
    margin-right: 10px;
}

#shoppingBag{
    width: 1300px;
    /* border: 1px solid #000; */
    margin: auto;
}
.selectQuantity{
    margin-left: 20px;
    width: 80px; 
    height: 40px;
    /* margin-right: 30px; */
}
.price{
    width: 300px;
    /* border: 1px solid #000; */
    padding-left: 20px;
    
}
#quant{
    margin-right: 30px;
    /* border: 1px solid #000; */
    justify-content: center;
    align-content: center;
    text-align: center;

}
table {
    border-spacing: 30px;
  }

/* table */
#checkout{
cursor: pointer;
}