*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/* Filter && Sort Section CSS Start */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.containerFS{
    width:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.containerFS .top{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}
.containerFS .top :is(.filter, .sort section){
    border: 2px solid black;
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.containerFS .top .filter b::before{
    content: "Show";
}
.containerFS .top .filter span::before{
    content: "tune";
}
.containerFS .top .sort{
    position: relative;
    z-index: 1;
    width: 164px;
}
.containerFS .top .sort section{
    position: relative;
    z-index: 1;
}
.containerFS .top .sort > *:not(ul){
    position: relative;
    z-index: 2;
}
.containerFS .top .sort ul{
    position: absolute;
    top: 0;
    padding: 0;
    padding-top: 40px;
    background-color: white;
    left: 0;
    margin: 0;
    border-radius: 20px;
    list-style: none;
    box-shadow: 0px 2px 10px 0px #00000052;
    width: 100%;
    overflow: hidden;
    display: none;
}
.containerFS .top .sort input{
    display: none;
}
.containerFS .top .sort input:checked + ul{
    display: block;
}
.containerFS .top .sort ul li{
    padding: 10px 20px;
    white-space: nowrap;
    border-bottom: .5px solid rgb(230, 230, 230);
}
.containerFS .top .sort ul li:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.containerFS .top .sort ul li:last-child{
    border: none;
}
.containerFS .content{
    display: flex;
    margin-top: 20px;
}
.containerFS .filter-container{
    max-width: 220px;
    flex: 1;
    transition: margin-left .3s;
    margin-left: -220px;
}
.containerFS #page-container{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(var(--cols, 4), 1fr);
    grid-template-rows: auto;
    gap: 20px;
    align-content: flex-end;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
}
.containerFS #page-container .card{
    background-color: rgb(224, 224, 224);
    height: 300px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
}
.containerFS .filter-container .filter-content .filter-title{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    cursor: pointer;
    user-select: none;
    border-top: .5px solid rgb(232, 232, 232);
}
.containerFS .filter-container .filter-options{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
    display: none;
    padding-top: 0;
}
.containerFS .filter-container .filter-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.containerFS .filter-container .filter-options .filter-item::before{
    content: attr(data-text);
    height: 35px;
    width: 35px;
    display: inline-flex;
    border-radius: 50%;
    background-color: var(--color, whitesmoke);
    color: var(--color, black);
    font-size: 13px;
    justify-content: center;
    align-items: center;
}
.containerFS .filter-container .filter-options .filter-item::after{
    content: "(" attr(data-count) ")";
    font-size: 14px;
}
/* Expand */
.containerFS .filter-container .filter-title.open span{
    transform: rotate(180deg);
}
.containerFS .filter-container .filter-title.open + .filter-options{
    display: flex;
}

/* Filter */
.containerFS .top.open + .content .filter-container{
    margin-left: 0;
}
.containerFS .top.open .filter b::before{
    content: "Hide";
}
.containerFS .top.open .filter span::before{
    content: "close";
}
/* Filter && Sort Section CSS End */


/* Product Section CSS Start */
#container{
    width:90%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px 20px;
}
.card>a{
    text-decoration: none;
    color:black;
}
.card{
    width:100%;
}
.big-img{
    width:100%;
}
.category-section{
    display:flex;
    justify-content: space-between;
    margin-top:10px;
    padding-right: 5%;
}
.category-section>a>img{
    width:21px;
    height:21px;
}
.category-section>p{
    color:rgb(204,22,50)
}
.price-section{
    display: flex;
    width: 100%;
}
.price-section>p:nth-child(2){
    color:rgb(130,164,206)
}
.card>p:last-child{
    margin-top: 10px;
}
/* Product Section CSS End */


/* media queries */

/* For screens smaller than 600px (small screens) */
@media (max-width: 600px) {
    #container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  /* For screens between 600px and 900px (medium screens) */
  @media (min-width: 600px) and (max-width: 900px) {
    #container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* For screens larger than 900px (large screens) */
  @media (min-width: 900px) {
    #container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  