*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}
/* ? ===========================here is navOne {starts}  */
.navOne {
    display: flex;
    justify-content: space-between;
    background-color: #172749;
    align-items: center;
    height: 42px;
}

.navOne > .arrow {
    height: 46px;
    width: 20px;
    border: none;
    background-color: transparent; 
} .navOne > .arrow > p {
    font-size: 45px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 7px;
    font-weight: 100;
}

.navOne > .sliders {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
} .sliders {
    animation: slide 5s infinite;
} @keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    } 20% {
        opacity: 1;
        transform: translateX(0);
    } 80% {
        opacity: 1;
        transform: translateX(0);
    } 100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}
/* ? ===========================here is navOne {ends}  */

/* ? ===========================here is navTwo {starts}  */
.navTwo {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    box-sizing: border-box;
}

.navTwo > .categoryLinks {
    display: grid;
    grid-template-columns: repeat(4, 74px);
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid #000; */
} .categoryLinks > .Women {
    /* border: 1px solid #000; */
    padding: 40px 0px 37px 0px;
} .categoryLinks > .Men {
    /* border: 1px solid #000; */
    padding: 40px 0px 37px 0px;
} .categoryLinks > .Jeans {
    /* border: 1px solid #000; */
    padding: 40px 0px 37px 0px;
} .categoryLinks > .Jeans > .jeans {
    margin-right: 18px;
} .categoryLinks > .Clearance {
    /* border: 1px solid #000; */
    padding: 40px 0px 37px 0px;
}
.categoryLinks > .underline > a {
    text-decoration: none;
    color: #172749;
    padding: 4px 0px 4px 0px;
} .categoryLinks > .underline > a:hover {
    border-bottom: 2px solid #172749;
    cursor: pointer;
}
/* * here is the dropdowns common css for category link {starts} */
.drop {
    display: none;
    position: absolute;
    top: 141px;
    right: 0px;
    border:1px solid #e0e0e0;
    width: 100%;
    height: 504.5px;
    z-index: 1;
    background-color: white;
} .flexing {
    display: flex;
} .first {
    width: 235.5px;
    height: 504.5px;
} .second {
    background-color:#f2f2f2;
    width: 263px;
    height: 504.5px;
}
/* * here is the dropdowns common css for category link {starts} */

/* *? here is the dropdowns individual css for category link {starts} */

.forwomen > .flexing > .first {
    display: flex;
    height: 504.5px;
    justify-content: space-between;
    flex-direction: column;
}  .forwomen > .flexing > .first > .upper > a {
    position: relative;
    right: 55px;
    font-weight: 600;
    top: 31px;
    color: #005eb8;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-decoration: none;
} .forwomen > .flexing > .first > .upper > a:hover{
    text-decoration: underline;
} .forwomen > .flexing > .first > .lower {
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(1, 235.5px);
    grid-template-rows: repeat(11, 40.5px);
    align-items: center;
} .forwomen > .flexing > .first > .lower > a {
    position: relative;
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
} .forwomen > .flexing > .first > .lower > .arrow:hover {
    text-decoration: underline;
    background-color:#f2f2f2;
} .forwomen > .flexing > .first > .lower > a:hover {
    text-decoration: underline;
    /* background-color:#f2f2f2; */
} .forwomen > .flexing > .first > .lower > a > p {
    position: relative;
    left: 10px;
}

.forwomen > .flexing > .second > .saming {
    display: flex;
    flex-direction: column;
} .forwomen > .flexing > .second > .saming > .topupper > a{
    position: relative;
    right: 55px;
    font-weight: 600;
    top: 31px;
    color: #005eb8;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-decoration: none;
} .forwomen > .flexing > .second > .saming > .topupper > a:hover {
    text-decoration: underline;
} .forwomen > .flexing > .second > .saming > .toplower {
    position: relative;
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(1, 235.5px);
    grid-template-rows: repeat(11, 40.5px);
    align-items: center;
} .forwomen > .flexing > .second > .saming > .toplower > a {
    position: relative;
    font-size: 14px;
    top: 40px;
    left: 11.5px;
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
} .forwomen > .flexing > .second > .saming > .toplower > a:hover {
    text-decoration: underline;
    background-color:#f2f2f2;
} .forwomen > .flexing > .second > .saming > .toplower > a > p{
    position: relative;
    left: 10px;
}

.forwomen > .flexing > .third .saming {
    display: flex;
    flex-direction: column;
} .forwomen > .flexing > .third .saming > .topupper > a{
    position: relative;
    right: 55px;
    font-weight: 600;
    top: 31px;
    color: #005eb8;
    font-size: 14px;
    letter-spacing: -0.3px;
    text-decoration: none;
} .forwomen > .flexing > .third .saming > .topupper > a:hover {
    text-decoration: underline;
} .forwomen > .flexing > .third .saming > .toplower {
    position: relative;
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(1, 235.5px);
    grid-template-rows: repeat(11, 40.5px);
    align-items: center;
    /* border: 1px solid #000; */
} .forwomen > .flexing > .third .saming > .toplower > a {
    position: relative;
    font-size: 14px;
    top: 40px;
    left: 11.5px;
    text-decoration: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
} .forwomen > .flexing > .third .saming > .toplower > a:hover {
    text-decoration: underline;
    background-color:#f2f2f2;
} .forwomen > .flexing > .third .saming > .toplower > a > p{
    position: relative;
    left: 10px;
} .forwomen > .flexing > .imag > img {
    width: 400px;
    height: 270px;
    position: relative;
    top: 22px;
    left: 120px;
}


/* *? here is the dropdowns individual css for category link {starts} */ 

/* ! ??? need to be removed just for test */
.empty {
    width: 100%;
    height: 142px;
}
.other2 {
    width: 100%;
    height: 104.5px;
}
.vid {
    /* padding-top: 143px; */
    width: auto;
}
video{
    /* position: relative; */
    /* box-sizing: border-box; */
    width: 100%;
    z-index: 0;
}
/* ! ??? need to be removed just for test */


/* * here is the dropdowns for category link {ends} */

.navTwo > .logo img {
    width: 128px;
    margin-left: 100px;
}

.navTwo > .Loginlinks {
    display: flex;
    width: 370px;
    justify-content: space-between;
    align-items: center;
} .Loginlinks img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
} .Loginlinks input[type="search"] {
    width: 166px;
    height: 40px;
    border:2px solid #dbdbdbfa;
    border-radius: 30px;
    font-weight: 550;
    background-image: url('https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/2x/external-search-social-media-ui-tanah-basah-basic-outline-tanah-basah.png');
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 130px;
    padding-right: 18px; /* adjust to fit the size of icon */
} .Loginlinks .links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
} .Loginlinks > .links:hover{
    background-color: #ecf2f8;
} 

.Loginlinks > .userIcon > .dropUser {
    display: none;
    position: absolute;
    width: 240px;
    height: 211px;
    top: 110px;
    right: 46px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
} .Loginlinks > .userIcon > .dropUser > .margin {
    margin-top: 28px;
} .Loginlinks > .userIcon > .dropUser > button {
    background-color: white;
    width: 198px;
    height: 41px;
    margin-top: 12px;
    margin-left: 9%;
    border-radius: 20px;
} 
.Loginlinks > .userIcon > .dropUser > .register > a{
    text-decoration: none;
    /* border: none; */
    color:black;
} .Loginlinks > .userIcon > .dropUser >.register {
    border: 2px solid black;
    color: black;
} .Loginlinks > .userIcon > .dropUser > .register:hover{
    border: none;
    background-color: black;
    color: white;
} .Loginlinks > .userIcon > .dropUser > .register:hover a{
    color: white;
} 
.Loginlinks > .userIcon > .dropUser >.signin{
    border: 2px solid #005eb8;
    color: #005eb8;
}.Loginlinks > .userIcon > .dropUser >.signin a{
    text-decoration: none;
} .Loginlinks > .userIcon > .dropUser >.signin:hover{
    border: none;
    background-color: #005eb8;
    color: white;
}  .Loginlinks > .userIcon > .dropUser > .signin:hover a{
    text-decoration: none;
    color: white;
} 
.Loginlinks > .userIcon > .dropUser > a {
    display: block;
    margin-top: 15px;
    margin-left: 10%;
    text-decoration: none;
    color: black;
} .Loginlinks > .userIcon > .dropUser > a:hover {
    text-decoration: underline;
}
/* ? ===========================here is navTwo {ends}  */