#container{
    width: 50%;
    margin-top: 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin: auto;
    font-size: smaller;
    color: rgb(150, 136, 136);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}


#cont{
    height: 200px;
}
h3{
    color:rgb(30, 46, 108);
    margin: 0;
    padding: 0;
    font-size: 25px;
}
form{
    display: grid;
    gap: 15px;
}

.ptag{
    margin-top: -1px;
    font-size: small;
}
#registeredCustomer
{
    /* width: ; */
    /* border: 1px solid #c21818; */
    /* align-items: center; */
    
}
form{
    width: 100%;
}
#registeredCustomer #email,#password
{
    width: 97%;
    height: 30px;

}

#checkParentTag{
    display: flex;
    justify-content: space-between;
}
#sign{
    width: 200px;
    text-align: center;
    background-color: rgb(23,39,74);
    border: none;
    color: white;
    height: 30px;
    cursor: pointer;

}
#sign:hover{
    background-color: white;
    color: black;

}
#facebook{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    padding: 1px;
    /* border: none; */
    border: 1px solid #000;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}   
#facebook img{
    width: 20px;
    /* border: 1px solid #000; */
 
}





/* new customer css here */
#createAccount{
    padding: 10px;
    background-color: white;
    font-weight: bold;
    font-size: small;
}
#information{
    /* font-size: sma; */
}
#information h5{
    margin-bottom: -14px;
}
#createAccount:hover{
    background-color: rgb(23,39,74);
    color: white;
}



/*  TRACK ORDER CSS */
#trackOrder{
    width: 40%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}
#trackOrder input{
    box-sizing: border-box;
    height: 30px;
    padding: 10px;
}


#checkStatus{
    width: 200px;
    background-color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    /* height: 60px; */
    /* border: 1px solid red; */
}
#checkStatus:hover{
    background-color:  rgb(23,39,74);
    color: white;
}





/*  media query */

@media only screen and (max-width:749px) {
    #container{
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
    }
}