*{
    margin: 0;
    padding: 0;
}
  header{
    width: 100%;
    height: 40px;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 156px;
    height: 34px;
    
}

.box{
    text-align: center;
    margin-top: 5%;
}
.box span:nth-child(2){
    font-size: 28px;
    font-family: sans-serif ;
    color: rgb(10, 103, 103);
    margin-left: 20px;
    font-weight: 600;
}
.check img{
    width: 50px;
    height: 50px;
}

.img img{
width: 200vh;
height: 400px;
margin-bottom: 50px;
}